includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    ignoreErrors:
        - '#^Variable [^ ]+ might not be defined\.$#'
        - '#^Method [^ ]+ has parameter [^ ]+ with no type specified\.$#'
        - '#^Method [^ ]+ has no return type specified\.$#'
        - '#^Method [^ ]+ return type has no value type specified in iterable type array\.$#'
        - '#^Function [^ ]+ has parameter [^ ]+ with no value type specified#'
        - '#^Cannot access offset [^ ]+ on mixed\.$#'